{% extends "admin/partials/base.admin.html.twig" %}

{% block title %}Admin | Admin{% endblock %}


{% block stylesheets %}
{% endblock %}

{% block body %}
    <main role="main" class="">
        <div class="jumbotron text-center">
            <h1>Welcome to Admin page</h1>
            <p class="lead">Press one button on the navigation bar to add/update/remove Genres/Artists/Movies from the database !</p>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
{% endblock %}