{% extends "partials/base.html.twig" %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/style.css"/>
{% endblock %}

{% block body %}
    <div class="container bg-transparent mt">
        <h2 class="title font-weight-bold text-center">Welcome to MovieRating</h2>
    </div>
{% endblock %}
